In [1]:
%matplotlib inline
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
city_data_df=pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Awjilah,LY,2021-04-06 21:28:41,29.1081,21.2869,64.26,59,89,15.61
1,1,Bluff,NZ,2021-04-06 21:28:42,-46.6000,168.3333,54.00,85,100,4.00
2,2,Beira,MZ,2021-04-06 21:28:42,-19.8436,34.8389,78.01,61,0,11.48
3,3,Barcelos,PT,2021-04-06 21:28:21,41.5388,-8.6151,57.00,100,0,3.11
4,4,Provideniya,RU,2021-04-06 21:28:42,64.3833,-173.3000,5.00,66,0,6.71

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
max_temp=city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
# Heatmap of temperature
# Get the latitude and longtitude
locations=city_data_df[["Lat","Lng"]]
# Get the maximum temperature.
max_temp=city_data_df["Max Temp"]
# Assign the fiugre variable
fig=gmaps.figure(center=(30,31),zoom_level=1.5)
# Assign the heatmap varibale
heat_layer=gmaps.heatmap_layer(locations,weights=[max(temp,0) for temp in max_temp],
                              dissipating=False,
                              max_intensity=300,
                              point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of % humidity
# Get the latitude and longtitude
locations=city_data_df[["Lat","Lng"]]
# Get the maximum temperature.
humidity=city_data_df["Humidity"]
# Assign the fiugre variable
fig=gmaps.figure(center=(30,31),zoom_level=1.5)
# Assign the heatmap varibale
heat_layer=gmaps.heatmap_layer(locations,weights=humidity,
                              dissipating=False,
                              max_intensity=300,
                              point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of % cloudiness
# Get the latitude and longtitude
locations=city_data_df[["Lat","Lng"]]
# Get the maximum temperature.
clouds=city_data_df["Cloudiness"]
# Assign the fiugre variable
fig=gmaps.figure(center=(30,31),zoom_level=1.5)
# Assign the heatmap varibale
heat_layer=gmaps.heatmap_layer(locations,weights=clouds,
                              dissipating=False,
                              max_intensity=300,
                              point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
# Get the latitude and longtitude
locations=city_data_df[["Lat","Lng"]]
# Get the maximum temperature.
wind=city_data_df["Wind Speed"]
# Assign the fiugre variable
fig=gmaps.figure(center=(30,31),zoom_level=1.5)
# Assign the heatmap varibale
heat_layer=gmaps.heatmap_layer(locations,weights=wind,
                              dissipating=False,
                              max_intensity=300,
                              point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customs to add a min and max temp value
min_temp=float(input("What is the minimum temperature you would like for your trip? "))
max_temp=float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
preferred_cities_df=city_data_df.loc[(city_data_df["Max Temp"]>=min_temp) & (city_data_df["Max Temp"]<=max_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Beira,MZ,2021-04-06 21:28:42,-19.8436,34.8389,78.01,61,0,11.48
12,12,San Cristobal,VE,2021-04-06 21:28:45,7.7669,-72.2250,87.80,48,40,11.50
13,13,Mana,GF,2021-04-06 21:28:45,5.6592,-53.7767,79.79,81,57,10.33
14,14,Jos,NG,2021-04-06 21:28:45,9.9167,8.9000,77.36,18,24,4.18
15,15,Catamarca,AR,2021-04-06 21:28:46,-28.4696,-65.7852,81.00,72,13,11.01

In [12]:
preferred_cities_df.count()

City_ID       187
City          187
Country       187
Date          187
Lat           187
Lng           187
Max Temp      187
Humidity      187
Cloudiness    187
Wind Speed    187
dtype: int64

In [13]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [14]:
hotel_df=preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
2           Beira      MZ     78.01 -19.8436   34.8389
12  San Cristobal      VE     87.80   7.7669  -72.2250
13           Mana      GF     79.79   5.6592  -53.7767
14            Jos      NG     77.36   9.9167    8.9000
15      Catamarca      AR     81.00 -28.4696  -65.7852
18         Neiafu      TO     80.60 -18.6500 -173.9833
20       Nhamunda      BR     81.28  -2.1861  -56.7131
21        Cozumel      MX     80.60  20.5083  -86.9458
22     Butaritari      KI     80.11   3.0707  172.7902
23      Mahebourg      MU     77.00 -20.4081   57.7000

In [15]:
# Set parameters to search for a hotel
params={"radius":500,
       "type":"lodging",
       "key":g_key}

# Iterate through the DataFrame
for index,row in hotel_df.iterrows():
    # Get the laittude and longitude
    lat=row["Lat"]
    lng=row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
     # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Beira,MZ,78.01,-19.8436,34.8389,Hotel Avenida
12,San Cristobal,VE,87.80,7.7669,-72.2250,Posada Villaven C.A.
13,Mana,GF,79.79,5.6592,-53.7767,LE SAMANA
14,Jos,NG,77.36,9.9167,8.9000,
15,Catamarca,AR,81.00,-28.4696,-65.7852,Amerian Catamarca Park Hotel
18,Neiafu,TO,80.60,-18.6500,-173.9833,Jia Heng Hotel佳恒假日酒店
20,Nhamunda,BR,81.28,-2.1861,-56.7131,Porto de Nhamundá
21,Cozumel,MX,80.60,20.5083,-86.9458,Caribo Cozumel
22,Butaritari,KI,80.11,3.0707,172.7902,Isles Sunset Lodge
23,Mahebourg,MU,77.00,-20.4081,57.7000,Le Bamboo Guesthouse

In [20]:
info_box_template="""
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info=[info_box_template.format(**row) for index,row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots.
# Get the latitude and longtitude
locations=hotel_df[["Lat","Lng"]]
# Get the maximum temperature.
max_temp=hotel_df["Max Temp"]
# Assign the fiugre variable
fig=gmaps.figure(center=(30,31),zoom_level=1.5)
# Assign the heatmap varibale
heat_layer=gmaps.heatmap_layer(locations,weights=max_temp,
                              dissipating=False,
                              max_intensity=300,
                              point_radius=4)

marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
# Add the heatmap layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))